/* Achtergrond en algemene instellingen */
body {
  background-color: burlywood; 
  font-family: Arial, sans-serif;
  margin: 20px;
}


h1 {
  color: navy;
  text-align: center;
}


h2 {
  color: navy;
}


p {
  font-size: 16px;
}
