/* Achtergrond en algemene instellingen */
body {
  background-color: lightgray; /* makkelijk leesbare achtergrond */
  font-family: Arial, sans-serif;
  margin: 20px;
}

/* Hoofd titel */
h1 {
  color: darkblue;
  text-align: center;
}

/* Subtitels */
h2 {
  color: navy;
}

/* Tekst */
p {
  font-size: 16px;
}
